[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita-export-texture-atlas
X-Python-2-Compatible=false
X-Krita-Manual=../README.md
Name=Export Texture Atlas
Comment=Exports documents as packed texture atlases with a JSON scene description
