[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=spritesExporter
X-Python-2-Compatible=false
Name=Sprites Exporter
Comment=Exports documents as packed texture atlases with a JSON scene description
